<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selecao Br24</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
        <div class="wrapper">
            <h1> Selecao Br24</h1><br>
            <form id="form_to_crm" class="pr-form" action="../Controller/delete.php" method="POST">
                <div class="input-fields">
                        <input class= "btnInput" type="text" name="CPF" placeholder="Informe o CPF" ><br>
                        <input class= "btnInput" type="text" name="CNPJ" placeholder="Informe o CNPJ" ><br>
                        <a>"Não é necessario deletar ambos!"</a>
                        <input class= "btnInput" type="hidden" name="saved" value="yes">
                        <input class="btn" type="submit" value="Deletar"><br>                       
                </div>
            </form>
        </div>	
</body>
</html>

