<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selecao Br24</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
        <div class="wrapper">
            <h1> Selecao Br24</h1><br>
                <div class="div-central">
                    <a href="form.html"><input  class="btnBig" type="button" onclick="submitForm('register');" value= "Cadastrar\Atualizar"/> </a>
                    <a href="delete.html">   <input class="btnBig" type="button" onclick="submitForm('delete');" value="Deletar"/></a>
                    <a href="../Controller/listar.php">   <input class="btnBig" type="button" onclick="submitForm('listar');" value="Listar Dados Cadastrados"/></a>
                </div>
        </div>	
</body>
</html>